name: "Static analysis & tests"

on:
  push:
    branches: [ "master" ]
  pull_request:

jobs:
  static-analysis:
    name: Static Analysis
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install pylint

      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')

  format-check:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install black

      - name: Check code format with Black
        run: |
          black --check $(git ls-files '*.py')

  similarity-tests:
    env:
      TEST_FILES: tests/similarity_framework/test_similarity*  tests/column2vec/test_column2vec_cache.py tests/runner/test_runner*
    name: Run Python Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
           coverage run -m pytest $TEST_FILES

      - name: Show coverage
        run: coverage report -m --omit=".*.ipynb,similarity_runner/*"

      - name: Create coverage file
        if: github.event_name == 'pull_request'
        run: coverage xml --omit=".*.ipynb,similarity_runner/*"

      - name: Get Cover
        if: github.event_name == 'pull_request'
        uses: orgoro/coverage@v3.2
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          thresholdAll: 0.7
          thresholdNew: 0.7

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: Similarity coverage
          path: coverage.xml
          retention-days: 1

  column2vec-tests:
    env:
      TEST_FILES: tests/column2vec/test_column2vec_cache.py tests/column2vec/test_column2vec.py
    name: Run Column2Vec Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install coverage pytest pytest-xdist

      - name: Run tests
        run: coverage run --source='column2Vec' -m pytest -v $TEST_FILES

      - name: Show coverage
        run: coverage report -m --omit=".*.ipynb"

      - name: Create coverage file
        if: github.event_name == 'pull_request'
        run: coverage xml

      - name: Get Cover
        if: github.event_name == 'pull_request'
        uses: orgoro/coverage@v3.1
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          thresholdAll: 0.7
          thresholdNew: 0.9

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: Column2Vec coverage
          path: coverage.xml
          retention-days: 1
